[Unit]
Description=SpoutRemotePlayHost

[Service]
ExecStart=%h/.local/bin/spout-host -listen 0.0.0.0:47995
Restart=on-failure

[Install]
WantedBy=default.target
